@font-face {
    font-family: Josefin;
    src: url(JosefinSans-Thin.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Light.ttf);
}

@media (min-width:992px) {
    .grid{
        display: grid;
        grid-template-columns: [column1-start] 150px [column2-start] 150px [column3-start] 150px [column4-start] 150px [column5-start] 150px;
        grid-template-rows: [row1-start] 100px [row2-start] 90px [row3-start] 90px [row4-start] 90px [row5-start] 90px [row7-start] 90px [row8-start] 90px[row9-start] 90px[row10-start] 90px;
        row-gap: 10px;
        font-family: OpenSans;
        justify-content: center;
    }

    .home{
        grid-column: column2-start / column5-start;
        grid-row: row1-start;
        font-family: Josefin;
        background-color: #FCE9F1;
        border-radius: 5px;
        box-shadow: 3px 7px #F1D4E5;    
        justify-content: center;
        font-size: 60px;
    }

    .flex{
        display: flex;
        width: 450px;
        height: 100px;
        justify-content: center;
        align-items: center;
        line-height: 100px;
        text-align: center;    
    }

    .home h6{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 100px;
    }
    
    .home>a{
        text-decoration: none;
        color: #121212;
    }

    .difficulty{
        text-align: center;
        grid-column: column2-start / span 1;
        grid-row: row2-start;
        line-height: 90px;
        background-color: #F98404;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    .topic{
        text-align: center;
        grid-column: column3-start / span 1;
        grid-row: row2-start;
        line-height: 90px;
        background-color: #F98404;
        
        

        
    }

    .search{
        grid-column: column4-start / span 1;
        grid-row: 2;
        text-align: center;
        line-height: 90px;
        background-color: #F98404;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;

    }

    .difficulty-options{
        display: grid;
        grid-column: column2-start / span 1;
        grid-row: row3-start;
        grid-template-columns: [column1-start] 75px [column2-start] 75px;
        grid-template-rows: [row1-start] 30px [row2-start] 30px [row3-start] 30px;
    }

    .topic-options{
        line-height: 30px;
        text-align: center;
        grid-column: column3-start / span 1;
        grid-row: row3-start;
    }

    .search-button{
        line-height: 90px;
        text-align: center;
        grid-column: column4-start / span 1;
        grid-row: row3-start;
    }

    input[type="button"] {
        /* CSS styles for the input button */
         height: 45px; 
         width: 80px; 
         background-color: #198754;
         color: white;
    }
    input[type="button"]:active{
        background-color: gray;
    }

    h6{
        margin: 0px;
        display: inline-block;
    }

    .inputfield{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/4;
        justify-content: center;
        align-items: center;
    }
        
    .difficulty-options>.title{
        grid-column: 1/2;
        grid-row: span 1;
        line-height: 30px;
    }

    input[type='radio']{
        display: flex;
        width: 75px;
        height: 26px;
        padding: 0px;
        margin: auto;
        
        
        
     }

    



}