@font-face {
    font-family: Josefin;
    src: url(JosefinSans-Thin.ttf);
}

@font-face {
    font-family:OpenSans ;
    src: url(OpenSans-Light.ttf);
}

@media (max-width:576px){
    .container{
        justify-content: center;
        display: grid;
        grid-template-columns: [column1-start] 100px [column2-start] 100px [column3-start] 200px [column4-start] 100px [column5-start] 100px;
        grid-template-rows: [row1-start] 40px [row2-start] 40px [row3-start] 40px [row4-start] 40px [row5-start] 40px [row6-start] 40px;
        row-gap: 10px;
    }

    .notes{
        border-radius: 5px;
        box-shadow: 3px 7px #FFE7A0;
        grid-column:column3-start;
        grid-row: row1-start / row2-start;
        background-color: #FFF5B8;
        
    }

    .exercises{
        border-radius: 5px;
        box-shadow: 3px 7px #F1D4E5;
        grid-column:column3-start;
        grid-row: row2-start / row3-start;
        background-color: #FCE9F1
    }

    .siralama{
        border-radius: 5px;
        box-shadow: 3px 7px #D8C4B6;
        grid-column:column3-start;
        grid-row: row3-start / row4-start;
    }

    .yarisma{
        border-radius: 5px;
        box-shadow: 3px 7px #D8C4B6;
        grid-column:column3-start;
        grid-row: row4-start / row5-start;
    }
    
    .deneme{
        border-radius: 5px;
        box-shadow: 3px 7px #D8C4B6;
        grid-column:column3-start;
        grid-row: row5-start / row6-start;
    }

    .deneme-2{
        border-radius: 5px;
        box-shadow: 3px 7px #D8C4B6;
        grid-column:column3-start;
        grid-row: row6-start;
    }

    .flexbox{
        display: flex;
        height: 40px;
        justify-content: center;
    }
    
    .flex-symbol{
        display: flex;
        height: 40px;
        width: 100px;
        
        
         
    }

    .flex-title{
        display: flex;
        height: 40px;
        width: 100px;
        color: #121212; 
        font-size: 25px;
        
    }

    .titles{
        margin: auto;
        margin-left: 0px;
        padding: 0;
        font-family: Josefin;
        
    }

    .icons{
        align-self: center;
        margin: auto;
        margin-right: 10px;
    }
   
}